---
import { Image } from "astro:assets";
import ByStrocs from "./ByStrocs.astro";

interface Props {
  class?: string;
}
const { class: customStyles } = Astro.props;

const logos = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/logos/*.{jpeg,jpg,png,gif}"
);

const logosList = Object.entries(logos);
---

<footer
  class:list={[
    customStyles,
    "text-primary flex flex-col items-center gap-[1.8vh] justify-between w-full",
  ]}
>
  <div>
    <p
      class="text-center mb-1 md:mb-3 landscape:mb-2 landscape:2xl:mb-6 font-medium text-base md:text-lg"
    >
      Proyecto financiado por:
    </p>
    <ul
      class="flex gap-[1.5vh] landscape:gap-[4vh] flex-wrap items-center justify-center"
    >
      {
        logosList.map((logo) => {
          const logoSrc = logo[1]();
          const logoName = logo[0].split("/")[4].slice(2, -4);

          const blend = !logoName.includes("Monte Patria")
            ? "mix-blend-multiply"
            : "";

          return (
            <li class="group relative">
              <p class="hidden landscape:block absolute -top-8 left-0 whitespace-nowrap px-2 py-1 rounded-lg text-sm pointer-events-none opacity-0 group-hover:opacity-100 bg-primary/40 text-white">
                {logoName}
              </p>
              <Image
                src={logoSrc}
                alt={`Logo de ${logoName}`}
                height={100}
                class:list={[
                  "w-fit h-[7vh] landscape:h-[8vh] aspect-auto",
                  blend,
                ]}
              />
            </li>
          );
        })
      }
    </ul>
  </div>
  <div class="text-center">
    <p class="text-sm md:text-[1.8vh]">Desliza hacia abajo para navegar</p>
    <ByStrocs color="text-primary" class="text-[1.8vh]" />
  </div>
</footer>
