---
import ByStrocs from "./ByStrocs.astro";

interface Props {
  class?: string;
}
const { class: customStyles } = Astro.props;
---

<footer
  class:list={[
    customStyles,
    "text-primary flex flex-col items-center gap-[1.8vh] justify-between w-full",
  ]}
>
  <div>
    <p
      class="text-center mb-1 md:mb-3 landscape:mb-2 landscape:2xl:mb-6 font-medium text-base md:text-lg"
    >
      Proyecto financiado por:
    </p>
    <ul class="flex gap-4 md:gap-[4vh]">
      <li class="w-[6vh] h-[6vh] bg-primary rounded-full"></li>
      <li class="w-[6vh] h-[6vh] bg-primary rounded-full"></li>
      <li class="w-[6vh] h-[6vh] bg-primary rounded-full"></li>
      <li class="w-[6vh] h-[6vh] bg-primary rounded-full"></li>
      <li class="w-[6vh] h-[6vh] bg-primary rounded-full"></li>
    </ul>
  </div>
  <div class="text-center">
    <p class="text-sm md:text-[1.8vh]">Desliza hacia abajo para navegar</p>
    <ByStrocs color="text-primary" class="text-[1.8vh]" />
  </div>
</footer>
