---
import { Nav } from "@components/Nav.tsx";
import { InfoButton } from "./InfoButton";
import Isotipo from "./icons/Isotipo.astro";
---

<header
  id="header"
  class="fixed left-0 w-[10vh] md:w-[11vh] bg-secondary z-10 h-full flex flex-col items-center justify-between py-4 md:py-[2.8vh] opacity-0 pointer-events-none duration-150"
  ,
>
  <button
    id="header_logo"
    class="text-primary/30 hover:text-primary duration-150 w-[8vh]"
  >
    <Isotipo />
  </button>
  <aside id="header_nav">
    <Nav client:only="react" />
  </aside>
  <InfoButton id="header_info" client:only="react" />
</header>
