---
import type { HTMLTag } from "astro/types";

interface Props {
  text: string;
  class?: string;
  decorator?: HTMLTag;
}

const { text, class: customStyle, decorator: Element } = Astro.props;

const textSplited = text.split("\n");
---

{
  textSplited.map((text: string) => {
    const textBoldSplitted = text.split("\b");

    return (
      <p class:list={[customStyle]}>
        {textBoldSplitted.map((text, index) => {
          if (index % 2 === 0) {
            return !!Element ? <Element>{text}</Element> : text;
          }
          return <strong>{text}</strong>;
        })}
      </p>
    );
  })
}

<style>
  .quotes::before,
  .quotes::after {
    content: '"';
  }
</style>
